APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = xueluoUSERNAME = rootPREFIX = x_PASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = true[LOG]level[] = errorlevel[] = sqllevel[] = sql_log[CACHE]DRIVER = redisREDIS_HOST = 127.0.0.1REDIS_PORT = 6379PREFIX = xueluo_[ANNOTATION]store = route[LANG]default_lang = zh-cn